<div class="flex-wrap">
  <div class="width-50">
    <img src="../../assets/svg/undraw_hire_te5y.svg" alt="Employee" class="width-100 svg-container">
  </div>
  <div class="width-50 center-text">
    <p class="welcome-msg">Welcome to Employee Management</p>
    <button mat-raised-button color="primary" routerLink="{{'/' + ROUTES['employee'] }}"> EMPLOYEE </button>
    <button mat-raised-button color="primary" routerLink="{{'/' + ROUTES['department'] }}" class="margin-15px"> DEPARTMENT </button>
  </div>
</div>
