<div class="mat-elevation-z8">
  <div class="flex-wrap">
    <div class="table-control-header font-22">
      <mat-label>Department Details</mat-label>

    </div>
    <div class="flex-spacer"></div>
    <mat-form-field class="table-control-header font-14">
      <mat-label class="align-right">Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex: IT Department">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Department Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>


    <!-- Action -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon class="cursor" color="accent" (click)="viewDepartment(ACTIONS['view'], row)" title="View Department">
          visibility
        </mat-icon>
        <mat-icon class="cursor margin-15px" color="accent" (click)="editDepartment(ACTIONS['edit'], row)"
          title="Edit Department">edit
        </mat-icon>
        <mat-icon class="cursor margin-15px" color="accent" (click)="deleteDepartment(row.id)"
          title="Delete Department">delete
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <div class="flex-wrap">
    <div class="width-20">
      <button mat-raised-button color="primary" class="margin-15px" [disabled]="!selection.hasValue()"
        (click)="deleteMultipleDepartment()">DELETE</button>
      <button mat-raised-button color="primary" class="margin-15px" (click)="addDepartment(ACTIONS['add'])">ADD</button>
    </div>
    <div class="width-80">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
